* {
    /* reset all default margins */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

:root {
    /* variables here */
    --background-color: rgb(125, 225, 225);
    --text-color: var(--background-color);
    --link-color: rgb(75, 150, 255);
    --icon-margin: 15%;
    --border-radius: 10pt;
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body#body {
    background-color: black;
}

a {
    color: var(--link-color);
}

.rounded {
    border-radius: var(--border-radius);
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.text {
    color: var(--text-color);
}

div.background-rectangle {
    width: 5%;
    background-color: var(--background-color);
    border-bottom-right-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

div.section {
    margin: 50pt;
}

div#main {
    width: 80%;
}

h1,
h2 {
    font-family: 'Futura', 'Candara', 'Century Gothic', 'Helvetica', 'Arial', 'sans-serif';
}

h3,
h4,
p {
    font-family: 'Verdana', 'Geneva', 'sans-serif';
}

h1 {
    font-size: 72pt;
    font-weight: bold;
}

h2 {
    font-size: 36pt;
    font-weight: lighter;
}

h2.section-header {
    margin-bottom: 30px;
}

h2#author {
    font-style: italic;
    margin-top: 50px;
}

p.body {
    font-size: 14pt;
    text-align: justify;
    margin-bottom: 1em;
    margin-left: 10%;
    margin-right: 10%;
}

img.icon {
    margin-top: var(--icon-margin);
    margin-bottom: var(--icon-margin);
}

iframe {
    border-radius: var(--border-radius);
}

div#source-wrapper {
    text-align: center;
}

div#source-wrapper pre {
    font-size: 12pt;
    color: var(--text-color);
    display: block;
    text-align: left;
}
